.link {
  transition: opacity .5s, text-decoration-color .5s;
  text-decoration: none;

  color: inherit;

  text-decoration-color: transparent;
}

.link:hover {
  text-decoration: underline;

  opacity: .75;

  text-decoration-style: dashed;
  text-decoration-color: #ff5555;
}