.order-form {
  display: flex;
  flex-direction: column;

  width: 35%;
  margin: 10px auto;
  padding: 20px;

  border: #500 2px solid;
  border-radius: 5px;
}

.order-form label {
  font-style: italic;

  display: flex;

  margin-bottom: 20px;

  align-items: center;
  justify-content: space-between;
}

.order-form input {
  line-height: 20px;

  width: 250px;
}

.order-form button {
  font-family: monospace;

  width: 50%;
  padding: 5px;

  text-transform: uppercase;

  border-radius: 10px;
  background: lightgray;

  align-self: center;
}

label.order-form__subscribe {
  justify-content: center;
  margin: 10px auto 0;
}

.order-form__subscribe input {
  width: auto;
  margin-right: 10px;
}